<div class="container">

    <div class="row">
        <div class="admin-heading col-md-12">
            <h2><span style="background-color:#dcdcdc">注文履歴詳細</span></h2>
            <table class="table">
            <tbody>
                <tr>
                    <th>購入者</th>
                    <td>
                      <%= @order.customer.last_name %>
                      <%= @order.customer.first_name %>
                    </td>
                </tr>
                <tr>
                    <th>注文日</th>
                    <td><%= @order.created_at.strftime("%Y%m%d %H:%M")%></td>
                </tr>
                <tr>
                    <th>配送先</th>
                    <td><%= @order.address %></td>
                </tr>
                <tr>
                    <th>支払方法</th>
                    <td><%= @order.payment_method %></td>
                </tr>
                <tr>
                    <th>注文ステータス</th>
                    <td>
                        <%= form_with model: @order, url:admins_order_path(@order), local: true do |f| %>
                        <%= f.select :status,}, class: "form-control" %><%= form.collection_radio_buttons :payment_method, Order.payment_methods_i18n, :first, :last %>
                        <%= f.submit "更新", class: "btn ml-3 btn-dark btn-sm" %>
                    <% end %>
                    </td>
                </tr>
            </tbody>
            </table>

        </div>

        <div class="col-2 mb-3 font-weight-bold">注文ステータス</div>
        <div class="col-6 input-group">
          <%= form_with model: @order,url:admin_order_path(@order) ,local:true do |f| %>
          <div class="row">
          <div class="col-8"><%= f.select :status,Order.statuses_i18n.invert,{prompt: false},class:"form-control border-dark text-dark" %></div>
          <div class="col-3"><%= f.submit "更新" ,class:" btn btn-outline-dark" %></div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-8">
        <table class="table">
          <thead>
            <tr class="table-active">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <% sum = 0 %>
          <% @order.order_details.each do |order_detail| %>
          <tbody>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.price.to_s(:delimited) %></td>
              <td class="align-middle">
                <%= form_with model: order_detail,url: admin_order_detail_path(order_detail), local:true do |f| %>
                <div class="input-group row">
                <div class="ml-auto col-8"><%= f.select :making_status,OrderDetail.making_statuses_i18n.invert,{prompt: false} ,class:"form-control border-dark text-dark" %></div>
                <div class="mr-auto col-3"><%= f.submit "更新",class:"btn btn-outline-dark" %></div>
                </div>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% sum += order_detail.price %>
          <% end %>
        </table>
        </div>

        <div class="offset-1 col-3 d-flex align-items-end">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="font-weight-bold">商品合計</td>
                <!--合計金額表示されるか確認する-->
                <td class="text-right"><%= sum.to_s(:delimited) %>円</td>
              </tr>
              <tr>
                <td class="font-weight-bold">送料</td>
                <td class="text-right"><%= @order.shopping_cost.to_s(:delimited) %>円</td>
              </tr>
              <tr>
                <td class="font-weight-bold">請求金額合計</td>
                <td class="font-weight-bold text-right"><%= @order.total_payment.to_s(:delimited) %>円</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
</div>
</div>