<div class="container mt-5 pt-2">

<% provide(:title, "#{@item.name}") %>
<div class="row">
    <div class="offset-1 col-4 d-flex justify-content-center">
      <%= attachment_image_tag @item, :image, format: "jpeg", fallback: "no_image.jpg", size: "400x300" %>
    </div>

    <div class="offset-1 col-4">
        <h2 class="font-weight-bold"><%= @item.name %></h2>
        
       <p><%= @item.introduction %></p>
      <h4 class="mt-5 mb-4" ><span class="font-weight-bold"><%= @item.add_tax_price.to_s(:delimited) %></span> <span class="small">円 (税込)</span></h4>
      <div class="field">
        <% if @item.is_active == true %>
            <%= form_for(@cart_item , url: cart_items_path, method: :post) do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
              <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
            <% end %>

        <% elsif @item.is_active == false %>
          <h3>売り切れ中</h3>
        <% end %>
      </div>
    </div>
</div>