 <div class= "row">
  <div class="col-xs-offset-1 col-xs-11">
   <h3 class="head-line title_h2 text-center">ログイン</h>
    <h3 class="head-line title_h2 text-center">会員の方はこちらからログイン</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="field form-group col-xs-9">
    <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-sm-8 form-control-static" %>
   </div>
   <div class="field form-group col-xs-9">
    <%= f.label :"パスワード", class: "col-sm-4 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password",class: "col-sm-8 form-control-static" %>
   </div>
   <div class="actions col-xs-9 pull-right">
    <%= f.submit "ログイン", class: 'btn btn-primary' %>
   </div>
  <% end %>
  <div class= "col-xs-9">
   <h2 class="head-line title_h2 text-center">会員登録がお済みでない方</h2>
　  <p class="new-link">
　   <%= link_to "こちら", new_customer_registration_path, data:{"turbolinks"=>false},class: "btn-link" %>から新規登録してください。
　  </p>
　  
  </div>
  </div>
 </div>