<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-md btn-outline-secondary mr-3" %>
    <% end %>
    
    <% if current_customer.present? %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-md btn-outline-secondary mr-3" %>
    <% end %>
    
    
    
    <%= yield %>
  </body>
</html>
