  <div class="field form-group col-10 offset-2">
   <%= f.label :"郵便番号(ハイフンなし)", class: "col-4 control-label" %>
   <%= f.text_field :postal_code, class: "col-4 form-control-static postal_code" %>
  </div>
  <div class="field form-group col-10 offset-2">
   <%= f.label :"住所", class: "col-4 control-label" %>
   <%= f.text_field :address, class: "col-6 form-control-static address" %>
  </div>
  <div class="field form-group col-10 offset-2">
   <%= f.label :"電話番号(ハイフンなし)", class: "col-4 control-label" %>
   <%= f.text_field :telephone_number, class: "col-4 form-control-static telephone_number" %>
  </div>